<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164057827422-sctsnig9ppdd9o51usna6ja18r7sabc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164057827422-sctsnig9ppdd9o51usna6ja18r7sabc2</string>
	<key>API_KEY</key>
	<string>AIzaSyA_4JwyY9gB0IR66139WcyDP5RJh5f5X9g</string>
	<key>GCM_SENDER_ID</key>
	<string>164057827422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.4dot6.soccertimeapp</string>
	<key>PROJECT_ID</key>
	<string>soccer-time-app</string>
	<key>STORAGE_BUCKET</key>
	<string>soccer-time-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164057827422:ios:6a9ecf2b781a86c90ecccf</string>
</dict>
</plist>